.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.box {
    position: fixed;
    top: 15vh;
    left: 10%;
    width: 80%;
    /* height: 68%; */
    z-index: 100;
    overflow: hidden;
    background: white;
    box-shadow: 0 2px 8px rgba(247, 243, 243, 0.26);
    border-radius: 10px;
}

.box h2{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.cancel {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    float: right;
    padding: 2px;
}

.ul {
    position: relative;
    top: 20px;
    padding-bottom: 10px;
    padding-right: 40px;
}

.seed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
}

.seed h3 {
    margin: 0 0 0.25rem 0;
    width: 30%;
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
}

.qty {
    display: flex;
    width: 20%;
}

.qty input{
    font-size: 1.25rem;
    font-weight: bold;
    width: 30%;
    height: 26px;
}

.btn {
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: #2c0d00;
    color: white;
    margin-left: 10px;
    width: 50%;
    height: 30px;
}

.btn:hover,
.btn:active {
    background-color: rgb(145, 116, 80);
}

.total{
    text-align: center;
}